<app-headbar></app-headbar>

<body>
  <section class="section">
    <div class="container animated fadeIn">
      <h1 class="title">Carrinho</h1>
      <h2 class="subtitle">
        {{ items.count }}
      </h2>
    </div>
    <br>
    <table class="table is-striped table is-fullwidth">
      <thead>
        <tr>
          <th >Produto</th>
          <th class="has-text-centered">valor</th>
          <th class="has-text-centered">Qtd</th>
          <th class="has-text-centered">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items" >
          <td >{{ item.title }}</td>
          <td class="has-text-centered">R${{ item.price | number: '1.2-2'}}</td>
          <td class="has-text-centered">
            <input class="input" type="number" [(ngModel)]="item.quantity" (change)="checkQuantity(item)" style="width: 60px">

          </td>
          <td class="has-text-centered">R$ {{ (item.price * item.quantity) | number: '1.2-2' }}</td>
          <td>
            <button (click)="remove(item)" class="button is-small is-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><b>SubTotal</b></td>
          <td class="has-text-centered"><strong>R$ {{ getSubTotal() | number: '1.2-2'}}</strong></td>
        </tr>
        <tr>
          <td colspan="4"><b>Taxa de Entrega</b></td>
          <td class="has-text-centered"><strong>R$ {{ deliveryFee | number: '1.2-2' }}</strong></td>
        </tr>

        <tr>
            <td colspan="4"><b>Desconto</b></td>
            <td class="has-text-centered">
              <strong>
                <input class="input" type="number"  [(ngModel)]="discount" style="width: 120px">
              </strong>
            </td>
          </tr>

        <tr>
          <td colspan="4"><b>Total</b></td>
          <td class="has-text-centered"><strong>R$ {{ getSubTotal() + deliveryFee - discount | number: '1.2-2' }}</strong></td>
        </tr>
      </tfoot>
    </table>
    <a class="button is-link animated pulse is-fullwidth">COMPRAR MAIS</a>
  </section>
</body>

<app-footer>

</app-footer>